body {
    background-color: rgb(161, 158, 158);    
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

li {
    display: inline-block;
    list-style-type: none;
    width: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: auto;
}


li a:link, li a:visited {
    width: 100%;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: #27c;
	color: #def;
	border-top: 10px solid #25b;
}

li a:hover {
	background-color: #28e;
	color: #fff;
	border-top: 20px solid #26d;
}

.titre {
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

img {
    width: 30%;
    margin-left: 35%;
    margin-top: 25px;
    margin-bottom: 25px;
    
}